.main-exam-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_adv {
    display: flex;
    justify-content: center;
    font-size: 180%;
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 5%;
    margin-top: 5%;
}

.advantages{
    display: flex;
    flex-direction: column;
}