.main-content {
    display: flex;
    justify-content: space-around;
}

.buttons_container {
    display: flex;
    justify-content: space-around;
    width: 75%
}

.image {
    width: 30%;
}

.main-title {
    display: flex;
    text-align: center;
}

.title-with-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}