.img-with-shade {
    height: 625px;
    position: relative;
    background-color: rgba(224, 221, 221, 1);
    z-index: -10;
}

.CEFR-image {
    margin-left: 10%;
    margin-bottom: 5%;

    height: 609px;
    width: 800px;

    padding-top: 3%;
    display: flex;
    justify-content: flex-end;
}

.img-shade {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(188, 185, 185, 1);
    width: 800px;
    height: 509px;
    position: relative;
    top: -100%;
    right: -8%;
    z-index: -5;
}