.footer {
    display: flex;
    justify-content: space-evenly;
}

.groups {
    display: inline-block;
    padding-top: 30px;
}

.address {
    display: inline-block;
    padding-top: 30px;
}

.map {
    display: inline-block;
    width: 20%;
}

