.table {
    align-items: center;
    align-content: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    max-width: 90%;
    width: 90%;
    justify-content: center;
    margin-bottom: 3%;
}