.about {
    background-color: rgb(226, 226, 226);
    padding: 100px 230px;
}

.about-title {
    display: inline;
    border-bottom: 2px solid rgb(165, 165, 165);
}

.about-text {
    margin-top: 50px;
}