.menu-layout {
    display: flex;
    margin-top: 106px;
    margin-bottom: 106px;
    margin-left: 157px;
    margin-right: 157px;
    justify-content: space-around;
    flex-direction: row;
}

.main-text {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 110%;
    color: rgb(87, 87, 87);
}

.menu-button {
    margin-top: 30px;
    justify-content: left;
}