.menu-layout {
    display: flex;
    margin: 10% 10% 3%;
    max-height: max-content;
    justify-content: space-around;
    flex-direction: row;
}

.main-text {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 110%;
    color: rgb(87, 87, 87);
}

.menu-button {
    margin-top: 30px;
    justify-content: left;
}